<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div class="container" id="cformulario">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-xl-12 mb-4">
            <div class="contenedor-titulo text-center">
                <div class="form-group">
                    <label for="exampleInputEmail1">Busca una actividad</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ejemplo: 1.1.1">

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12 col-xl-12 ">
            <div class="contenedor-titulo text-center">
                Indicador
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 mb-4">
            <div class="card" style="padding: 0; border: 0;">
                <div class="card-body" style="padding: 0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Indicador</th>
                                <th scope="col">A</th>
                                <th scope="col">B</th>
                                <th scope="col">C</th>
                                <th scope="col">D</th>
                                <th scope="col">Comentarios</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th>abcd</th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="ra" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="rb" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="rc" value="option1" checked>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="rd" value="option1" checked>
                                </th>
                                <td><input type="email" class="form-control"
                                           aria-describedby="emailHelp"
                                           placeholder="Ingrese un comentario.">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="contenedor-titulo text-center">
                Sub-Total
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 mb-4">
            <div class="card" style="padding: 0; border: 0;">
                <div class="card-body" style="padding: 0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Sub-Total</th>
                                <th scope="col">A</th>
                                <th scope="col">B</th>
                                <th scope="col">C</th>
                                <th scope="col">D</th>
                                <th scope="col">Comentarios</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th>abcd</th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="sra" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="srb" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="src" value="option1" checked>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="srd" value="option1" checked>
                                </th>
                                <td><input type="email" class="form-control"
                                           aria-describedby="emailHelp"
                                           placeholder="Ingrese un comentario.">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12 col-xl-12 ">
            <div class="contenedor-titulo text-center">
                Aspectos-Criticos
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 mb-4">
            <div class="card" style="padding: 0; border: 0;">
                <div class="card-body" style="padding: 0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Aspectos-Criticos</th>
                                <th scope="col">A</th>
                                <th scope="col">B</th>
                                <th scope="col">C</th>
                                <th scope="col">D</th>
                                <th scope="col">Comentarios</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th>abcd</th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="ara" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="arb" value="option1" checked/>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="arc" value="option1" checked>
                                </th>
                                <th>
                                    <input type="radio" name="exampleRadios" id="ard" value="option1" checked>
                                </th>
                                <td><input type="email" class="form-control"
                                           aria-describedby="emailHelp"
                                           placeholder="Ingrese un comentario.">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>